@charset "UTF-8";
@import url(reset.css);
@import url(reset.css);
.header {
  width: 100%;
  height: 138px;
  position: relative;
  padding-top: 6px;
  box-shadow: 0 0 5px #c2c2c2 inset; }
  .header .logo {
    position: absolute;
    top: 18px;
    left: 20px; }
  .header .vip {
    float: right;
    border: 1px solid #cecdcd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(#ffffff, #e4e4e4);
    padding: 5px 10px;
    margin-top: 3px; }
    .header .vip a {
      font-size: 11px;
      font-family: "黑体";
      color: #cecdcd; }
  .header .language {
    float: right;
    padding: 10px;
    border: 1px solid #cecdcd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(#ffffff, #e4e4e4);
    margin-right: 10px; }
    .header .language a {
      font-size: 11px;
      color: #8c8c8c; }
  .header .nav-header {
    background: linear-gradient(#a70329, #73001b);
    padding-left: 283px;
    padding-top: 18px;
    padding-bottom: 18px; }
    .header .nav-header ul li {
      display: inline-block;
      height: 10px;
      line-height: 10px;
      padding-left: 12px;
      padding-right: 12px;
      position: relative; }
      .header .nav-header ul li a {
        font-size: 12px;
        font-weight: bold;
        color: #ffffff;
        padding: 8px 10px;
        border-radius: 5px; }
    .header .nav-header ul li::after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 10px;
      background-color: #ffffff;
      position: absolute;
      top: 2px;
      right: 0; }
    .header .nav-header ul li:last-child::after {
      display: none; }
    .header .nav-header ul li:hover a {
      background: linear-gradient(#646464, #2d2d2d); }
  .header .nav-sub {
    margin-top: 10px; }
    .header .nav-sub ul li {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      position: relative; }
      .header .nav-sub ul li a {
        font-size: 12px; }
    .header .nav-sub ul li::after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 12px;
      background-color: #333333;
      position: absolute;
      top: 5px;
      right: 0; }
    .header .nav-sub ul li:last-child::after {
      display: none; }

.footer {
  background: linear-gradient(#e7e7e7, #ffffff);
  padding-top: 12px;
  padding-left: 37px;
  padding-bottom: 10px;
  border: 1px solid #dddddd; }
  .footer .logo {
    display: inline-block; }
  .footer .center {
    display: inline-block;
    font-size: 12px;
    margin-left: 48px; }
    .footer .center .nav-footer ul li {
      display: inline-block;
      padding-left: 14px;
      padding-right: 16px;
      border-right: 1px solid #8c8c8c; }
      .footer .center .nav-footer ul li a {
        color: #8c8c8c; }
    .footer .center .nav-footer ul li:first-child {
      padding-left: 0; }
    .footer .center .nav-footer ul li:last-child {
      padding-right: 0;
      border: none; }
    .footer .center .copyright {
      margin-top: 8px;
      color: #8c8c8c; }
  .footer .design-button {
    display: inline-block;
    margin-left: 30px; }
    .footer .design-button a {
      display: block;
      width: 107px;
      height: 23px;
      background-color: #901e14;
      font-size: 11px;
      font-family: "Arial";
      line-height: 23px;
      text-align: center;
      color: #ffffff; }

button {
  width: 95px;
  height: 25px;
  font-size: 12px;
  color: #ffffff;
  background: linear-gradient(#a70329, #73001b);
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer; }

.header .nav-header ul li:nth-child(4) a {
  background: linear-gradient(#646464, #2d2d2d); }
.header .nav-sub {
  margin-left: 565px; }

.wrapper {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  padding: 8px; }
  .wrapper .left {
    float: left;
    width: 214px;
    height: 880px;
    margin-bottom: 1px;
    border: 1px solid #dadada; }
    .wrapper .left .title-left {
      font-size: 12px;
      line-height: 16px;
      font-weight: bold;
      color: #ffffff;
      background: linear-gradient(#a12b1f, #71150c);
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 20px; }
      .wrapper .left .title-left img:first-child {
        margin-right: 8px;
        transform: translateY(2px); }
      .wrapper .left .title-left img:nth-child(2) {
        margin-left: 10px; }
    .wrapper .left .product-list {
      margin-top: 8px; }
      .wrapper .left .product-list ul li {
        width: 191px;
        height: 25px;
        background-color: #e6e6e6;
        border: 1px solid #eaeaea;
        padding-top: 4px;
        padding-left: 12px;
        margin: 1px auto 0;
        border-radius: 5px; }
        .wrapper .left .product-list ul li a {
          position: relative;
          padding-left: 30px;
          font-size: 12px; }
        .wrapper .left .product-list ul li a::before {
          content: ">";
          display: inline-block;
          width: 15px;
          height: 15px;
          font-size: 10px;
          font-weight: bold;
          color: #ffffff;
          text-align: center;
          padding-top: 2px;
          background: linear-gradient(#666666, #000000);
          border-radius: 3px;
          position: absolute;
          top: -2px;
          left: 0; }
      .wrapper .left .product-list ul li:hover a {
        color: #922014; }
      .wrapper .left .product-list ul li:hover a::before {
        background: linear-gradient(#b91414, #000000); }
      .wrapper .left .product-list ul li:nth-child(2) a {
        color: #922014; }
      .wrapper .left .product-list ul li:nth-child(2) a::before {
        background: linear-gradient(#b91414, #000000); }
    .wrapper .left .product-img {
      width: 205px;
      height: 167px;
      background-image: url(../images/product_left.png);
      margin: 4px auto 0;
      position: relative; }
      .wrapper .left .product-img .img-NO {
        position: absolute;
        right: 2px;
        bottom: 8px; }
        .wrapper .left .product-img .img-NO ul li {
          float: left;
          display: inline-block;
          width: 15px;
          font-size: 8px;
          color: #ffffff;
          text-align: center;
          padding-top: 4px;
          padding-bottom: 4px;
          margin-right: 2px;
          background-color: #4c4a4a;
          cursor: pointer;
          position: relative; }
        .wrapper .left .product-img .img-NO ul li::before {
          content: "";
          display: none;
          width: 0;
          height: 0;
          border-bottom: 4px solid #7e190f;
          border-left: 2px solid transparent;
          border-right: 2px solid transparent;
          position: absolute;
          top: -4px;
          left: 5px; }
        .wrapper .left .product-img .img-NO ul li:hover {
          background-color: #7e190f; }
        .wrapper .left .product-img .img-NO ul li:hover::before {
          display: block; }
    .wrapper .left .search {
      width: 202px;
      margin: 5px auto 0;
      border: 1px solid #e0e0e0; }
      .wrapper .left .search .title-search {
        padding-top: 4px;
        padding-bottom: 4px;
        background: linear-gradient(#ffffff, #f2f2f2);
        font-size: 12px;
        line-height: 20px;
        color: #cc1d1d; }
        .wrapper .left .search .title-search img {
          margin-left: 14px;
          margin-right: 9px;
          transform: translateY(4px); }
        .wrapper .left .search .title-search span {
          font-size: 11px;
          color: #b1b1b1; }
      .wrapper .left .search .search-area {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 12px; }
        .wrapper .left .search .search-area #search {
          width: 120px;
          height: 17px;
          margin-left: 12px; }
        .wrapper .left .search .search-area #search_submit {
          width: 57px;
          height: 22px;
          font-size: 12px;
          font-weight: bold;
          background: linear-gradient(#ffffff, #d2d2d2);
          background: url("../images/search_button.png") no-repeat 3px center;
          padding-left: 17px;
          border: 1px solid #999999;
          border-radius: 5px;
          position: relative; }
        .wrapper .left .search .search-area input[type="radio"] {
          margin-top: 15px; }
        .wrapper .left .search .search-area #product_center {
          margin-left: 15px; }
    .wrapper .left .quality_center {
      display: block;
      width: 203px;
      margin: 15px auto 0; }
    .wrapper .left .service {
      padding-top: 15px; }
      .wrapper .left .service .title-service {
        font-size: 14px;
        font-weight: bold;
        margin-left: 10px; }
      .wrapper .left .service .title-service::before {
        content: "";
        display: inline-block;
        width: 11px;
        height: 11px;
        background-image: url(../images/service_icon.png);
        margin-right: 10px; }
      .wrapper .left .service .service-img {
        width: 204px;
        margin: 10px auto 0; }
      .wrapper .left .service .service-list {
        width: 204px;
        margin: 14px auto 0; }
        .wrapper .left .service .service-list ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap; }
          .wrapper .left .service .service-list ul li {
            display: block;
            width: 78px;
            padding: 8px 12px;
            font-size: 12px;
            border-bottom: 1px dashed #cacaca; }
            .wrapper .left .service .service-list ul li a::before {
              content: "";
              display: inline-block;
              width: 11px;
              height: 11px;
              background-image: url("../images/service_icon2.png");
              margin-right: 8px; }
  .wrapper .right {
    float: left;
    width: 756px;
    height: 880px;
    margin-left: 6px;
    border: 1px solid #dadada; }
    .wrapper .right .title-right {
      float: left;
      width: 111px;
      background: linear-gradient(#a12b1f, #71150c);
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 12px;
      font-size: 12px;
      font-weight: bold;
      color: #ffffff; }
      .wrapper .right .title-right img {
        transform: translateY(3px); }
    .wrapper .right .index {
      float: left;
      width: 633px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 12px;
      color: #767676;
      background-color: #ffffff;
      border-bottom: 1px solid #dadada; }
      .wrapper .right .index img {
        margin-left: 494px; }

.header {
  width: 100%;
  height: 138px;
  position: relative;
  padding-top: 6px;
  box-shadow: 0 0 5px #c2c2c2 inset; }
  .header .logo {
    position: absolute;
    top: 18px;
    left: 20px; }
  .header .vip {
    float: right;
    border: 1px solid #cecdcd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(#ffffff, #e4e4e4);
    padding: 5px 10px;
    margin-top: 3px; }
    .header .vip a {
      font-size: 11px;
      font-family: "黑体";
      color: #cecdcd; }
  .header .language {
    float: right;
    padding: 10px;
    border: 1px solid #cecdcd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(#ffffff, #e4e4e4);
    margin-right: 10px; }
    .header .language a {
      font-size: 11px;
      color: #8c8c8c; }
  .header .nav-header {
    background: linear-gradient(#a70329, #73001b);
    padding-left: 283px;
    padding-top: 18px;
    padding-bottom: 18px; }
    .header .nav-header ul li {
      display: inline-block;
      height: 10px;
      line-height: 10px;
      padding-left: 12px;
      padding-right: 12px;
      position: relative; }
      .header .nav-header ul li a {
        font-size: 12px;
        font-weight: bold;
        color: #ffffff;
        padding: 8px 10px;
        border-radius: 5px; }
    .header .nav-header ul li::after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 10px;
      background-color: #ffffff;
      position: absolute;
      top: 2px;
      right: 0; }
    .header .nav-header ul li:last-child::after {
      display: none; }
    .header .nav-header ul li:hover a {
      background: linear-gradient(#646464, #2d2d2d); }
  .header .nav-sub {
    margin-top: 10px; }
    .header .nav-sub ul li {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      position: relative; }
      .header .nav-sub ul li a {
        font-size: 12px; }
    .header .nav-sub ul li::after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 12px;
      background-color: #333333;
      position: absolute;
      top: 5px;
      right: 0; }
    .header .nav-sub ul li:last-child::after {
      display: none; }

.footer {
  background: linear-gradient(#e7e7e7, #ffffff);
  padding-top: 12px;
  padding-left: 37px;
  padding-bottom: 10px;
  border: 1px solid #dddddd; }
  .footer .logo {
    display: inline-block; }
  .footer .center {
    display: inline-block;
    font-size: 12px;
    margin-left: 48px; }
    .footer .center .nav-footer ul li {
      display: inline-block;
      padding-left: 14px;
      padding-right: 16px;
      border-right: 1px solid #8c8c8c; }
      .footer .center .nav-footer ul li a {
        color: #8c8c8c; }
    .footer .center .nav-footer ul li:first-child {
      padding-left: 0; }
    .footer .center .nav-footer ul li:last-child {
      padding-right: 0;
      border: none; }
    .footer .center .copyright {
      margin-top: 8px;
      color: #8c8c8c; }
  .footer .design-button {
    display: inline-block;
    margin-left: 30px; }
    .footer .design-button a {
      display: block;
      width: 107px;
      height: 23px;
      background-color: #901e14;
      font-size: 11px;
      font-family: "Arial";
      line-height: 23px;
      text-align: center;
      color: #ffffff; }

button {
  width: 95px;
  height: 25px;
  font-size: 12px;
  color: #ffffff;
  background: linear-gradient(#a70329, #73001b);
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer; }

.wrapper .right .product-type-list {
  width: 602px;
  padding-top: 55px;
  margin: 0 auto; }
  .wrapper .right .product-type-list ul li {
    display: block;
    width: 602px;
    height: 117px;
    background-image: url("../images/product_bg.png");
    margin-bottom: 98px;
    padding-top: 40px;
    position: relative; }
    .wrapper .right .product-type-list ul li img {
      position: absolute;
      top: -34px;
      left: 15px; }
    .wrapper .right .product-type-list ul li p {
      color: #ffffff;
      display: block;
      width: 268px;
      margin-left: 295px; }
    .wrapper .right .product-type-list ul li .big {
      font-size: 18px;
      font-family: "黑体";
      text-align: right;
      margin-bottom: 15px; }
    .wrapper .right .product-type-list ul li .small {
      font-size: 12px; }

/*# sourceMappingURL=product_overview.css.map */
